#about-container
{
    padding: 80px;
}

#about-container #back-btn
{
    position: fixed;
    top: 50%;
    left:20px;
    margin-top:-40px;
}

#about-container #back-btn:hover
{
    cursor:pointer;
}

#about-container #left
{
    width:765px;
    margin-left: 70px;
}

#about-container .view-title
{
    font-family:'IrmaBlack';
    font-size: 40px;
    line-height:40px;
}

#about-container .dotted-lines
{
    width:150px;
    height: 10px;
    background-image:url('../images/site/dotted-lines.png');
    background-repeat:repeat-x;
    
    margin:10px 0 50px 0;
}

#about-container .pre-description-title
{
    margin:20px 0;
    
    font-family:'IrmaBlack';
    font-size: 20px;
    line-height:20px;
}

#about-container .description
{
    font-family:'GothamBook';
    font-size: 13px;
    line-height:17px;
}