/* Fonts */
@import url(fonts/fonts.css);

/* Generic */
body
{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    font-family: 'MenInBlack';
    color: #FFFFFF;
    
	margin: 0;
    padding: 0;

    background-color: #7D99B0;
/*
    background-image: url(../images/site/background.png);
    background-size:cover;
*/
    
    
/*
    background: -webkit-linear-gradient(25deg, rgb(107, 135, 166) 0%, rgb(139, 181, 199) 79%, rgb(116, 156, 179) 100%);
    background: -o-linear-gradient(25deg, rgb(107, 135, 166) 0%, rgb(139, 181, 199) 79%, rgb(116, 156, 179) 100%);
    background: -ms-linear-gradient(25deg, rgb(107, 135, 166) 0%, rgb(139, 181, 199) 79%, rgb(116, 156, 179) 100%);
    background: -moz-linear-gradient(25deg, rgb(107, 135, 166) 0%, rgb(139, 181, 199) 79%, rgb(116, 156, 179) 100%);
    background: linear-gradient(65deg, rgb(107, 135, 166) 0%, rgb(139, 181, 199) 79%, rgb(116, 156, 179) 100%);
*/

}

.modal.fade.in
{
	top: 40% !important;
}

.carousel
{
	margin: 0;
}

.carousel-control
{
	cursor: pointer;
}

.carousel-indicators li
{
	background-color: #ccc;
}

.carousel-indicators .active
{
	background-color: #000000;
}



 /*Animations */ 
.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
 
  display:block;
  width:100%;
  border-left:1px solid black;
 
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
 
.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}
