/* Home view */

#home-container
{
    height: 653px;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
    font-family: 'IrmaBlack';
    font-size: 40px;
    line-height: 55px;
    
    margin: auto 0;
}

#home-container #left
{
    margin: 135px 127px 0 80px;
}

#home-container #left .menu-item
{
    opacity:0.6;
}

#home-container #left .menu-item:hover
{
    opacity:1;
    cursor:pointer;
}

#home-container #right
{
    width:240px;
    height:653px;
    
    position:relative;
}

#home-container #right #watch
{
    width: 31px;
    
    position:absolute;
    top: 309px;
    left: -4px;
    
    cursor:pointer;
}