#projects-container
{
    width: 625px;
    margin:0 auto;
    padding: 80px 0;
    
    font-family:'GothamBook';
    font-size:22px;
}

#projects-container #back-btn
{
    position: fixed;
    top: 50%;
    left: 20px;
    margin-top: -40px;
}

#projects-container #back-btn:hover
{
    cursor:pointer;
}

#projects-container .circle
{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    margin: 0 5px 25px 0;
    position:relative;
}

#projects-container .circle:hover
{
    background-color: rgba(255,255,255,0.5);
    cursor:pointer;
}

#projects-container .circle .title
{
    width: 187px;
    font-family:'IrmaBlack';  
    font-size:20px;
    
    opacity:1;
    margin: 55px auto 30px auto;
}

#projects-container .circle .brand
{
    position: absolute;
    bottom: 45px;
    
    width: 200px;
    
    font-family:'GothamBold';
    font-size: 15px;
    line-height:15px;
    
    opacity:1;
}

#projects-container .circle .environment
{
    position: absolute;
    bottom: 23px;
    
    width: 200px;
    
    font-family:'GothamBook';
    font-size:14px;
    
    opacity:1;
}

.project
{
    width: 1000px;
    height: 100%;
    
    margin: 0 auto;
    padding: 80px 0;
}

.project #back-btn
{
    position: fixed;
    top: 50%;
    left:20px;
    margin-top:-40px;
}

.project #back-btn:hover
{
    cursor:pointer;
}

.project .bold
{
    font-weight: bold;
}

.project .black
{
    color: #000000;
}

.project .title-container .title
{
    font-family:'IrmaBlack';
    font-size:45px;
    
    margin: 20px 30px 20px 0;
}

.project .title-container .logo
{
    width:80px;
    margin-top:25px;
}

.project .subtitle-container
{
    margin: 0 0 20px 0;
}

.project .subtitle-container .subtitle
{
    font-family:'GothamBold';
    font-size:15px;
}

.project .description-container
{
    font-family:'GothamBook';
}

.project .media-container
{
    position:relative;
}

.project .media-container .dotted-lines
{
    width:100%;
    height: 10px;
    background-image:url('../images/site/dotted-lines-small.png');
    background-repeat:repeat-x;
    
    margin:20px 0;
}