#resume-container
{
    padding: 80px;
}

#resume-container #left
{
    margin:0 70px 0 70px;
}

#resume-container #left .view-title
{
    font-family:'IrmaBlack';
    font-size: 40px;
    line-height:40px;
}

#resume-container #left .dotted-lines
{
    width:178px;
    height: 10px;
    background-image:url('../images/site/dotted-lines.png');
    background-repeat:repeat-x;
    
    margin:10px 0 50px 0;
}

#resume-container #left .name
{
    font-family:'IrmaBlack';
    font-size: 24px;
    
    line-height:18px;
}

#resume-container #left .job
{
    font-family:'IrmaBlack';
    font-size: 15px;
    margin-bottom:15px;
}

#resume-container #left #details-container
{
    font-family:'GothamBold';
    font-size:9px;
    line-height:12px;
}

#resume-container #left #details-container .item
{
    display:block;
}

#resume-container #left #back-btn
{
    position: fixed;
    top: 50%;
    left:20px;
    margin-top: -40px;
}

#resume-container #left #back-btn:hover
{
    cursor:pointer;
}

#resume-container #download
{
    margin-left:20px;
    vertical-align:bottom;
}