<div id="about-container">
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('home')" title="Go back home"/>
    <div id="left" class="yui3-u">
        <div class="view-title">ABOUT</div>
        <div class="dotted-lines"></div>
        <div class="pre-description-title">HI, I AM ALEX, OR LEX IF YOU ARE A FRIEND.<br>AND I HAVE A YEN FOR WRITING AND STORYTELLING.</div>
        <div class="description">I’m fascinated by narrative journalism. Gay Talese, Michael Paterniti and Mike Sager are ridiculously good writers. Please read “Frank Sinatra has a cold” and “The Long Fall of One Eleven Heavy”.<br>I’m a music nerd. My favorite app is Shazam and I’m always spending too much money on records.<br>I prefer “Death Proof” over “Django” and “Lock, Stock...” over “RocknRolla”.<br>People I’d love to hang out with, over drinks: Stephin Merritt, Marion Cotillard, Tom Waits.</div>
        <div class="pre-description-title">MY GOALS</div>
        <div class="description">Never be a douche.<br>I’ll help anyone as much as I can, because the surprise payback feels like liquid gold.<br>If I won’t have anything new to add to our conversation, I’ll just shut up and listen.</div>
        <div class="pre-description-title">SOME OTHER GOALS</div>
        <div class="description">I want to be part of an agency that encourages me to discover and write great stories.<br>From storytelling in the form of an ad campaign to the creation of a TV show;<br>from a solid headline to a short story in a magazine. No matter the platform,<br>I want to be a narrator of other people’s emotions.</div>
        <div class="pre-description-title">MOSTLY EMBARASSED ABOUT</div>
        <div class="description">When I was around 12, I fell in love. I had just seen the first season of “The Wonder Years” and<br>Kevin was 12, too when he fell in love with Winnie. I thought it was the rule.</div>
        <div class="pre-description-title">MOSTLY PROUD OF</div>
        <div class="description">My friends.</div>
    </div>
</div>