<div id="contact-container">
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('home')" title="Go back home"/>
    <div id="content" class="yui3-u">
        <div class="view-title">CONTACT</div>
        <div class="dotted-lines"></div>
        <div class="contact-social">
            <div class="contact-text">WANT TO SAY HI?</div>
            <a id="linkedin" class="yui3-u" href="http://www.linkedin.com/profile/view?id=162152342&trk=nav_responsive_tab_profile" target="_blank"><img class="item" src="../images/site/contact/linkedin.png" /></a>
            <a id="vimeo" class="yui3-u" href="https://vimeo.com/user5473784" target="_blank"><img class="item" src="../images/site/contact/vimeo.png" /></a>
            <a id="facebook" class="yui3-u" href="https://www.facebook.com/alex.petrache" target="_blank"><img class="item"  src="../images/site/contact/facebook.png" /></a>
            <a id="instagram" class="yui3-u" href="http://instagram.com/falling_laughing" target="_blank"><img class="item" src="../images/site/contact/instagram.png" /></a>
            <a id="twitter" class="yui3-u" href="https://twitter.com/hyper_morpheme" target="_blank"><img class="item" src="../images/site/contact/twitter.png" /></a>
            <a id="youtube" class="yui3-u" href="http://www.youtube.com/user/alexpetrache" target="_blank"><img class="item" src="../images/site/contact/youtube.png" /></a>
        </div>
        <div class="contact-details">
            <div class="contact-text">FOR JOB OFFERS OR COLLABORATIONS,<br>FEEL FREE TO GET IN TOUCH HERE.</div>
            <div><a href="tel:+4917676084718" class="item">Telephone:&nbsp;+49&nbsp;176&nbsp;76084718</a></div>
            <div><a href="mailto:alex.dan.petrache@gmail.com?Subject=Hello%20Alex" target="_top" class="item">E-mail:&nbsp;alex.dan.petrache@gmail.com</a></div>
        </div>
    </div>
</div>