<div id="home-container">
	
	<div id="menu"></div>
    <div id="man-container">
        <img id="man" src="../images/site/static-words-man.png" />
        <img id="watch" src="../images/site/watch.png" title="Pressed with time? Click me!" />
        
        <!--Head images-->
        <img id="listen" class="dynamic-words head" title="Listen" src="../images/site/dynamic-words/head/listen.png" />
        <img id="story-teller" class="dynamic-words head" title="Story teller" src="../images/site/dynamic-words/head/story-teller.png" />

        <!--Waist images-->
        <img id="know-why" class="dynamic-words waist" title="Know why" src="../images/site/dynamic-words/waist/know-why.png" />
        <img id="my-human-truths" class="dynamic-words waist" title="My human truths" src="../images/site/dynamic-words/waist/my-human-truths.png" />
        <img id="narrate-emotions" class="dynamic-words waist" title="Narrate emotions" src="../images/site/dynamic-words/waist/narrate-emotions.png" />
        <img id="no-spoil-sports" class="dynamic-words waist" title="No spoil sports" src="../images/site/dynamic-words/waist/no-spoil-sports.png" />
        <img id="side-effects" class="dynamic-words waist" title="Side effects" src="../images/site/dynamic-words/waist/side-effects.png" />
    </div>
</div>
