<div id="home-container" class="yui3-g">
    <div id="menu-left" class="yui3-u">
        <div id="home" class="menu-item yui3-u">HOME</div>
        <div id="work" class="menu-item yui3-u">WORK</div>
        <div id="about" class="menu-item yui3-u">ABOUT</div>
    </div>
    
    <img id="man" src="../images/site/empty-man-with-watch.png" />
    
    <div id="menu-right" class="yui3-u">
        <div id="contact" class="menu-item yui3-u">CONTACT</div>
        <div id="blog" class="menu-item yui3-u">BLOG</div>
        <div id="resume" class="menu-item yui3-u">RESUME</div>
    </div>
</div>
