<div id="home-container">
	
	<div id="menu" class="yui3-g">
        <div id="home" class="menu-item left  yui3-u">HOME</div>
        <div id="work" class="menu-item left  yui3-u">WORK</div>
        <div id="about" class="menu-item left  yui3-u">ABOUT</div>
        <div id="contact" class="menu-item right  yui3-u">CONTACT</div>
        <div id="blog" class="menu-item right  yui3-u">BLOG</div>
        <div id="resume" class="menu-item right  yui3-u">RESUME</div>
    </div>
    <div id="man-container">
        
    </div>
</div>
