<div id="landing-page-container">
	
    <div id="man-container">
        <img id="man" src="../images/site/static-words-man-new.png" />
        <img id="watch" src="../images/site/watch.png" title="Pressed with time? Click me!" ng-click="changeView('home')"/>
        
        <!--Head images-->
        <img id="listen" class="dynamic-words head" src="../images/site/dynamic-words/head/listen.png"/>
        <img id="story-teller" class="dynamic-words head" src="../images/site/dynamic-words/head/story-teller.png" />

        <!--Waist images-->
        <img id="know-why" class="dynamic-words waist" src="../images/site/dynamic-words/waist/know-why.png" />
        <img id="my-human-truths" class="dynamic-words waist" src="../images/site/dynamic-words/waist/my-human-truths.png" />
        <img id="narrate-emotions" class="dynamic-words waist" src="../images/site/dynamic-words/waist/narrate-emotions.png" />
        <img id="no-spoil-sports" class="dynamic-words waist" src="../images/site/dynamic-words/waist/no-spoil-sports.png" />
        <img id="side-effects" class="dynamic-words waist" src="../images/site/dynamic-words/waist/side-effects.png" />
        
        <!--Hands images-->
        <img id="gun-control" class="dynamic-words hands" src="../images/site/dynamic-words/hands/gun-control.png" />
        <img id="writing" class="dynamic-words hands" src="../images/site/dynamic-words/hands/writing.png" />
        
        <!--Legs images-->
        <img id="explore-the-night" class="dynamic-words legs" src="../images/site/dynamic-words/legs/explore-the-night.png" />
        <img id="second-hand" class="dynamic-words legs" src="../images/site/dynamic-words/legs/second-hand.png" />
        <img id="stop-motion" class="dynamic-words legs" src="../images/site/dynamic-words/legs/stop-motion.png" />
        <img id="too-old" class="dynamic-words legs" src="../images/site/dynamic-words/legs/too-old.png" />
        <img id="web-chaser" class="dynamic-words legs" src="../images/site/dynamic-words/legs/web-chaser.png" />
    </div>
</div>
