<div id="resume-container" class="yui3-g">

    <div id="left" class="yui3-u">
        <div class="view-title">RÉSUMÉ</div>
        <div class="dotted-lines"></div>
        <div class="name">ALEX PETRACHE</div>
        <div class="job">CREATIVE COPYWRITER</div>
        <div id="details-container">
            <div class="item">alexpetrache.com</div>
            <div class="item">Lachenerstrasse 1e,&nbsp;Hamburg,&nbsp;22083</div>
            <a href="tel:+4917676084718" class="item">+49&nbsp;176&nbsp;76084718</a>
            <a href="mailto:alex.dan.petrache@gmail.com" class="item">alex.dan.petrache@gmail.com</a>
        </div>
        <img id="back-btn" src="../images/site/back-btn.png" ng-click="changeView('home')" title="Go back home"/>
    </div>
    <img id="resume" class="yui3-u" src="../images/site/resume.png"/>
    <a id="download" class="yui3-u" href="../assets/resume/CV_AlexP.pdf" download"Alex Petrache Résumé"><img width="40px" src="../images/site/AdobePDF.gif" title="Download Résumé" /></a>
</div>