#personal .media-container .text
{
    margin-bottom:15px;
}

#personal .media-container a
{
    color:#BC5353 !important;
    opacity:0.7;
}

#personal .media-container a:hover
{
    opacity:1;
}

#personal .media-container .link
{
    font-weight:bold;
    display:block;
}

#personal .media-container .link.margin
{
    margin-bottom:10px;
}

#personal .media-container img
{
    display: block;
    margin-bottom:15px;
}