#unicef-second-hand .title-container .title
{
    margin-right:30px;
}

#unicef-second-hand .title-container .logo
{
    width: 40px;
    margin-right: 20px;
    margin-top: 23px;
}

#projects-container #unicef-second-hand
{
    background-image:url("../../images/portofolio/unicef-second-hand/circle-bg.png");
}