<div id="street" class="project" project-keypress>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">13 STREET</span> FEEL HORROR</div>
        <img class="logo yui3-u" src="../../images/portofolio/13-street/lurzersArchiveLogo.png" />
    </div>
    
    <div class="subtitle-container yui3-g">
        <div class="subtitle bold black yui3-u">The Action & Horror TV Channel</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">Discover how the side effects of a good horror movie actually feel like.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspConcept & Copy - Alex Petrache | Illustrations & Art Direction - Tiffiny Li</div>
        <div class="instructors">Instructors:&nbspSalvatorre Russomanno / Jung von Matt | Niklas Frings-Rupp, Miami Ad School Europe</div>
        <div class="recognition"><span class="bold">RECOGNITIONS:</span>&nbspLürzer's Archive 2013 Student Contest preselected | Published in the 01/2013 Lürzer's issue.</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        
        <img id="left"  src="../../images/portofolio/13-street/img1.jpg" />
        <img id="middle"  src="../../images/portofolio/13-street/img2.jpg" />
        <img id="right"  src="../../images/portofolio/13-street/img3.jpg" />
    </div>
</div>