<div id="heineken-night-dealers" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">CARLSBERG</span> NIGHT DEALERS</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">When a group of friends is going out, there is always one person who ends up having less fun than the others. Here’s the Carlsberg way of celebrating the underdog, while also giving you a pretty big reason to buy their 6-pack.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW - Alex Petrache | AD – Sayalee Kaluskar</div>
        <div class="instructors">Instructors:&nbspRobert Mueller / Philipp & Keuntje Hamburg, Germany </div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/carlsberg-night-dealers/1.png" />
    </div>
    
</div>