<div id="carnival-young-ships" class="project" project-keypress>
   <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">CARNIVAL</span> THE FUN SHIPS</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">The new Carnival line of cruise ships will only board passengers under the age of 45. Here’s why The Fun Ships decided it was time to cross the line.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW/AD - Alex Petrache</div>
        <div class="instructors">Instructors:&nbspTobias Holland / Fischer Appelt</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/carnival-young-ships/1.png" />
        <img src="../../images/portofolio/carnival-young-ships/2.png" />
        <img src="../../images/portofolio/carnival-young-ships/3.png" />
        <img src="../../images/portofolio/carnival-young-ships/4.png" />
    </div>
    
</div>