<div id="dodger-tomtom" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">TOMTOM</span> DODGER</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">GPS systems are appreciated throughout any type of journey. However, they certainly can always be improved. So how about enjoying your drive to the fullest, without any unwanted interruptions or surprise setbacks? A new feature in TOMTOM GPS systems may help you do just that.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW - Alex Petrache | AD – Sayalee Kaluskar</div>
        <div class="instructors">Instructors:&nbspTimm Weber / Grabarz & Partners Hamburg, Germany</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/dodger-tomtom/1.jpg" />
    </div>
    
</div>
<footer class="footer"></footer>