<div id="dodger-tomtom" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">TOMTOM</span> DODGER</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">GPS systems are appreciated throughout any type of journey. However, things can always be improved. So how about enjoying your driving to the fullest, with no unwanted interruptions or any annoying add-ons. Meet TOMTOM’s Dodger.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW - Alex Petrache | AD – Sayalee Kaluskar</div>
        <div class="instructors">Instructors:&nbspTimm Weber / Grabarz & Partners Hamburg, Germany</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/dodger-tomtom/1.jpg" />
    </div>
    
</div>