<div id="jagermeister-make-your-mark" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">JÄGERMEISTER</span> MAKE YOUR MARK</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">When deciding on your next drink for the night, timing and location are everything: depending on when and where you choose to have the tiny Jägermeister booster, your night’s whole meaning can change dramatically.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW - Alex Petrache | AD – Sayalee Kaluskar</div>
        <div class="instructors">Instructors:&nbspRobert Mueller / Philipp & Keuntje Hamburg, Germany</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/jagermeister-make-your-mark/1.jpg" />
        <img src="../../images/portofolio/jagermeister-make-your-mark/2.jpg" />
        <img src="../../images/portofolio/jagermeister-make-your-mark/3.jpg" />
    </div>
</div>
<footer class="footer"></footer>