<div id="mattel-web-chaser" class="project" project-keypress>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">MATTEL</span> THE WEB CHASER</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">While growing up, there is nothing children enjoy more, than challenging their parents with a numerous amount of questions.<br>Introducing Mattel’s Web Chaser, a voice activated, age filtered stuffed toy that quenches any kid’s thirst for information, when asked.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW - Alex Petrache | AD - Tiffiny Li</div>
        <div class="instructors">Instructors:&nbspNiklas Frings-Rupp, Miami Ad School Europe</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/mattel-web-chaser/mattel.jpg" />
    </div>
</div>