<div id="nypd-wanted" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-g">
            <div id="left" class="black yui3-u">NYPD</div> 
            <div id="right" class="yui3-u">WANTED, THE DIGITAL PHONE-COP IN SOCIAL NETWORKS</div>
        </div>
    </div>
    <div class="description-container">
        <div class="title bold">An app created by the NYPD that unites forces with civilians to fight against smartphone theft.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspAlex Petrache: Concept, Script, Directing, Set Design and Construction | Valeria Gonzalez: Directing, Script, Photography, Concept, Set Design and Construction |Miruna Macri: Illustrations, Directing, Photography, Concept, Editing.</div>
        <div class="instructors">Instructors:&nbspStefan Haverkamp, Miami Ad School Brooklyn, NY | Niklas Frings-Rupp, Miami Ad School Europe</div>
        <div class="recognition"><span class="bold">RECOGNITIONS:</span>&nbspHelloYouCreatives.com | Fubiz.com | TheNYEgotist.com | TheSFEgotist.com | Niice.co</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <iframe src="//player.vimeo.com/video/61720393" width="1000" height="563" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/nypd-wanted/Board1.jpg" />
        <img src="../../images/portofolio/nypd-wanted/Board2.jpg" />
        <img src="../../images/portofolio/nypd-wanted/Board3.jpg" />
        <img src="../../images/portofolio/nypd-wanted/Board4.jpg" />
    </div>
</div>
<footer class="footer"></footer>