<div id="personal" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">SOME WORDS LIKE TO POSE</span> CHATTY DRAWINGS</div>
    </div>
    
    <div class="description-container">
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW/Illustrations - Alex Petrache</div>
    </div>
    
    <div class="media-container">
        <div class="dotted-lines"></div>
        <div class="text">1. I’ve always had a fascination with headlights and any HBO writer or “Game of Thrones” enthusiast will agree: we can create any kind of world we want, as long as there is a story with some human truth behind it. Also, I adore Matthew Lyons illustrations. Thanks for the trees, Matt!</div>
        
        <div class="text">Turn on your headlights and discover all the secrets of the road.</div>
        <img src="../../images/portofolio/personal/1.DiscoverTheSecretsOfTheRoad.jpg">
        
        <div class="text">Turn on your headlights and travel through time.</div>
        <img src="../../images/portofolio/personal/2.TimeIsRelativeIndeed.jpg" />
        
        <div class="dotted-lines"></div>
        <div class="text">2. I never liked Batman. Out of all the heroes, he’s the biggest douchebag – smug, shallow and usually late.</div>
        <img src="../../images/portofolio/personal/3.BatmanIsAScrooge.jpg" />
    </div>
</div>