<div id="personal" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">CHATTY DRAWINGS</span> SOME WORDS LIKE TO POSE</div>
    </div>
    
    <div class="description-container">
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW/Illustrations - Alex Petrache</div>
    </div>
    
    <div class="media-container">
        <div class="dotted-lines"></div>
        <div class="text">1. I’ve always had a fascination with headlights and any HBO writer or “Game of Thrones” enthusiast will agree: we can create any kind of world we want, as long as there is a story with some human truth behind it. Also, I adore Matthew Lyons illustrations. Thanks for the trees, Matt!</div>
        
        <div class="text">Turn on your headlights and discover all the secrets of the road.</div>
        <img src="../../images/portofolio/personal/1.DiscoverTheSecretsOfTheRoad.jpg">
        
        <div class="text">Turn on your headlights and travel through time.</div>
        <img src="../../images/portofolio/personal/2.TimeIsRelativeIndeed.jpg" />
        
        <div class="dotted-lines"></div>
        <div class="text">2. I never liked Batman. Out of all the heroes, he’s the biggest douchebag – smug, shallow and usually late.</div>
        <img src="../../images/portofolio/personal/3.BatmanIsAScrooge.jpg" />
        
        <div class="dotted-lines"></div>
        <div class="text">3. As I mentioned before, I am a music geek.<br>Ergo, I go all out to attend as many concerts as I possibly can.<br>Whenever the situation allows, I also interview the bands for this great music website.<br>Check some of my interviews and album reviews when you find a minute. Thanks.</div>
        <a href="http://www.zmemusic.com/author/alexpetrache/" class="link margin">http://www.zmemusic.com/author/alexpetrache/</a>
        
        <div class="text">Interviews / Reviews include indie pop bands like:</div>
        <a href="http://www.zmemusic.com/rock/indie/the-amazing-phoebe-killdeer-exclusive-interview/" class="link">Phobe Killdeer (Nouvelle Vague)</a>
        <a href="http://www.zmemusic.com/rock/indie/hari-and-aino-interview-110245/" class="link">Hari and Aino</a>
        <a href="http://www.zmemusic.com/reviews/album-reviews/air-new-album-love-2-out-tomorrow/" class="link">AIR</a>
        <a href="http://www.zmemusic.com/rock/indie/lisa-and-ludvig-the-concretes-interview/" class="link">The Concretes</a>
        <a href="http://www.zmemusic.com/rock/indie/interview-help-stamp-out-loneliness/" class="link">Help Stamp Out Loneliness</a>
        <div class="link">-- and many more.</div>
    </div>
</div>
<footer class="footer"></footer>