<div id="shoot-your-mouth" class="project">
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">BRADY CAMPAIGN</span> SHOOT YOUR MOUTH</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">NRA leaders choose to represent gun makers and not gun owners and over 70% of the wrongfully represented members would agree to gun control regulations. Shoot Your Mouth is an online platform, where people can vote the member they support. Each vote takes the opinion and its member closer to a shooting target. Once it reaches the target, the opinion gets shot into the online world of news outlets, without any corruption. ShootYourMouth.com - What’s Your Caliber, America?</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW & AD - Alex Petrache</div>
        <div class="instructors">Instructors:&nbspJared Isle, DRAFTFCB New York | Niklas Frings-Rupp, Miami Ad School Europe</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img id="left"  src="../../images/portofolio/shoot-your-mouth/shoot-your-mouth-project.png" />
    </div>
</div>