<div id="thomas-kemper-spoilsports" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">THOMAS KEMPER</span> NO OVER 21 SPOILSPORTS</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">Kids and young adults under the age of 21 take ownership of their unique and exciting world. For the first time, a brand has created such a fun and appealing kid’s club that adults desperately try to get in, but can’t. Not without the approval of their youngsters. </div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspCW - Alex Petrache | AD – Joana Vinheiro Pereira</div>
        <div class="instructors">Instructors:&nbspChristina A. de la Cruz / Miami Ad School Brooklyn, New York</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <img src="../../images/portofolio/thomas-kemper-spoilsports/1.jpg" />
        <img src="../../images/portofolio/thomas-kemper-spoilsports/2.jpg" />
        <img src="../../images/portofolio/thomas-kemper-spoilsports/3.jpg" />
        <img src="../../images/portofolio/thomas-kemper-spoilsports/4.jpg" />
        <img src="../../images/portofolio/thomas-kemper-spoilsports/5.jpg" />
    </div>
</div>