<div id="unicef-second-hand" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">UNICEF</span> THE SECOND-HAND APP STORE</div>
        <img class="logo yui3-u" src="../../images/portofolio/unicef-second-hand/adcLogo.png" />
        <img class="logo yui3-u" src="../../images/portofolio/unicef-second-hand/younggunsLogo.png" />
    </div>
    
    <div class="description-container">
        <div class="title bold">A new way of buying apps, while also helping out with a good cause. Instead of deleting the apps you no longer need but paid good money for, drag them into the Second-Hand App. Here, others can buy them at a lower "second-hand" price and the rest gets donated to any of your desired UNICEF projects.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspConcept, Copy & Illustrations - Alex Petrache | Art Direction & Motion Graphics - Tiffiny Li</div>
        <div class="instructors">Instructors:&nbspNiklas Frings-Rupp, Miami Ad School Europe</div>
        <div class="recognition"><span class="bold">RECOGNITIONS:</span>&nbspBRONZE - ADC Germany | FINALIST - YOUNG GUNS</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <iframe src="//player.vimeo.com/video/78907401" width="1000" height="563" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
</div>
<footer class="footer"></footer>