<div id="volkswagen-park-your-sentences" class="project" project-keypress>
    <img id="back-btn" class="yui3-u" src="../images/site/back-btn.png" ng-click="changeView('projects')" title="Go back to work"/>
    
    <div class="title-container yui3-g">
        <div class="title bold yui3-u"><span class="black">VOLKSWAGEN GOLF</span> PARK YOUR SENTENCES</div>
    </div>
    
    <div class="description-container">
        <div class="title bold">Finding the perfect way to share life-changing news with somebody can be a daunting task. You go back and forth several times until you reach your goal, similar to parking your car. No more endless back and forth thanks to the Park Assist Feature in the new VW Golf.</div>
        <div class="credits"><span class="bold">CREDITS:</span>&nbspConcept & Copy - Alex Petrache</div>
        <div class="instructors">Instructors:&nbspTobias Burger / Jung von Matt</div>
    </div>
    
    <div class="media-container yui3-g">
        <div class="dotted-lines"></div>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119481940&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119482039&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119482230&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
    </div>
</div>
<footer class="footer"></footer>